<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.ArticleHistoryMapper">

    <resultMap type="com.ruoyi.system.domain.ArticleHistory" id="ArticleHistoryResult">
        <id     property="id"      column="id"      />
        <result property="originalTableId"      column="original_table_id"      />
        <result property="archiveNo"    column="archive_no"    />
        <result property="author"     column="author"     />
        <result property="title"   column="title"   />
        <result property="content"    column="content"    />
        <result property="tags"    column="tags"    />
        <result property="source"    column="source"    />
        <result property="status"    column="status"    />
        <result property="r18"    column="r18"    />
        <result property="remark"    column="remark"    />
        <result property="del"    column="del"    />
        <result property="createBy"      column="create_by"      />
        <result property="createTime"    column="create_time"    />
        <result property="originalCreateBy"      column="original_create_by"      />
        <result property="originalCreateTime"    column="original_create_time"    />
        <result property="updateBy"      column="update_by"      />
        <result property="updateTime"    column="update_time"    />
        <result property="originalUpdateBy"      column="original_update_by"      />
        <result property="originalUpdateTime"    column="original_update_time"    />
    </resultMap>

    <sql id="selectArticleHistoryVo">
        select table_id, archive_no, author, title, content,tags,source,del,status ,r18 ,original_create_by,
        original_create_time, original_update_by, original_update_time, create_by, create_time, update_by,
        update_time, remark, version
        from article_history
    </sql>

    <select id="search" resultMap="ArticleHistoryResult" parameterType="com.ruoyi.system.domain.ArticleHistory">
        <include refid="selectArticleHistoryVo" />
        <where>
            del = 0
            <if test="null != createBy and '' != createBy">
                and create_by = #{createBy}
            </if>
            <if test="null != status">
                and status = #{status}
            </if>
        </where>
    </select>

    <select id="search_batch" resultMap="ArticleHistoryResult">
        <include refid="selectArticleHistoryVo" />
        <where>
            del = 0
            <if test="null != _ArticleIds and 0 != _ArticleIds.size()">
                and original_table_id in
                <foreach collection="_ArticleIds" open="(" separator="," item="x" close=")">
                    #{x}
                </foreach>
            </if>
        </where>
    </select>

    <select id="find_by_article_id" resultMap="ArticleHistoryResult" parameterType="String">
        <include refid="selectArticleHistoryVo" />
        <where>
            del = 0
            and original_table_id = #{id}
        </where>
    </select>

    <!-- 添加文章记录 -->
    <insert id="insert" parameterType="com.ruoyi.system.domain.ArticleHistory">
        insert into article_history(id
        <if test="null != originalTableId">
            ,original_table_id
        </if>
        <if test="null != archiveNo">
            ,archive_no
        </if>
        <if test="null != author">
            ,author
        </if>
        <if test="null != title">
            ,title
        </if>
        <if test="null != content">
            ,content
        </if>
        <if test="null != tags">
            ,tags
        </if>
        <if test="null != source">
            ,source
        </if>
        ,del
        <if test="null != status">
            ,status
        </if>
        <if test="null != r18">
            ,r18
        </if>
        <if test="null != originalCreateBy">
            ,original_create_by
        </if>
        <if test="null != originalCreateTime">
            ,original_create_time
        </if>
        <if test="null != originalUpdateBy">
            ,original_update_by
        </if>
        <if test="null != originalUpdateTime">
            ,original_update_time
        </if>
        ,create_by
        ,create_time
        <if test="null != remark">
            ,remark
        </if>
        <if test="null != version">
            ,version
        </if>
        )
        values
        (
            #{id}
        <if test="null != originalTableId">
            ,#{originalTableId}
        </if>
        <if test="null != archiveNo">
            ,#{archiveNo}
        </if>
        <if test="null != author">
            ,#{author}
        </if>
        <if test="null != title">
            ,#{title}
        </if>
        <if test="null != content">
            ,#{content}
        </if>
        <if test="null != tags">
            ,#{tags}
        </if>
        <if test="null != source">
            ,#{source}
        </if>
        ,0
        <if test="null != status">
            ,#{status}
        </if>
        <if test="null != r18">
            ,#{r18}
        </if>
        <if test="null != originalCreateBy">
            ,#{originalCreateBy}
        </if>
        <if test="null != originalCreateTime">
            ,#{originalCreateTime}
        </if>
        <if test="null != originalUpdateBy">
            ,#{originalUpdateBy}
        </if>
        <if test="null != originalUpdateTime">
            ,#{originalUpdateTime}
        </if>
        ,#{createBy}
        ,now()
        <if test="null != remark">
            ,#{remark}
        </if>
        <if test="null != version">
            ,#{version}
        </if>
        )
    </insert>

</mapper>