<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.LifeAndLeisureMapper">

    <resultMap type="com.ruoyi.system.domain.Article" id="ArticleResult">
        <id     property="tableId"      column="table_id"      />
        <result property="archiveNo"    column="archive_no"    />
        <result property="author"     column="author"     />
        <result property="title"   column="title"   />
        <result property="content"    column="content"    />
        <result property="tags"    column="tags"    />
        <result property="source"    column="source"    />
        <result property="status"    column="status"    />
        <result property="r18"    column="r18"    />
        <result property="del"    column="del"    />
        <result property="createBy"      column="create_by"      />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"      column="update_by"      />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectArticleVo">
        select table_id, archive_no, author, title, content ,tags ,source ,del ,status ,r18 ,create_by, create_time, update_by,
        update_time, remark, version
        from article
    </sql>

    <select id="search" resultMap="ArticleResult" parameterType="com.ruoyi.system.domain.Article">
        <include refid="selectArticleVo" />
        <where>
            del = 0
            <if test="null != createBy and '' != createBy">
                and create_by = #{createBy}
            </if>
            <if test="null != status">
                and status = #{status}
            </if>
            <if test="null != r18">
                and r18 = #{r18}
            </if>
            <if test="null != searchValue and '' != searchValue">
                and
                (
                    archive_no like CONCAT('%',#{searchValue},'%') or
                    author like CONCAT('%',#{searchValue},'%') or
                    title like CONCAT('%',#{searchValue},'%') or
                    content like CONCAT('%',#{searchValue},'%') or
                    tags like CONCAT('%',#{searchValue},'%')
                )
            </if>
        </where>
        order by create_time DESC
    </select>

    <select id="search_batch" resultMap="ArticleResult">
        <include refid="selectArticleVo" />
        <where>
            del = 0
            <if test="null != _ArticleIds and 0 != _ArticleIds.size()">
                and table_id in
                <foreach collection="_ArticleIds" open="(" separator="," item="x" close=")">
                    #{x}
                </foreach>
            </if>
            <if test="null != r18">
                and r18 = #{r18}
            </if>
        </where>
    </select>

    <select id="find_article" resultMap="ArticleResult" parameterType="String">
        <include refid="selectArticleVo" />
        <where>
            del = 0
            and table_id = #{id}
        </where>
    </select>

    <!-- 添加文章 -->
    <insert id="add_article" parameterType="com.ruoyi.system.domain.Article">
        insert into article(table_id
        <if test="null != archiveNo">
            ,archive_no
        </if>
        <if test="null != author">
            ,author
        </if>
        <if test="null != title">
            ,title
        </if>
        <if test="null != content">
            ,content
        </if>
        <if test="null != tags">
            ,tags
        </if>
        <if test="null != source">
            ,source
        </if>
        ,del
        <if test="null != status">
            ,status
        </if>
        <if test="null != r18">
            ,r18
        </if>
        ,create_by
        ,create_time
        <if test="null != remark">
            ,remark
        </if>
        ,version
        )
        values
        (
            #{tableId}
        <if test="null != archiveNo">
            ,#{archiveNo}
        </if>
        <if test="null != author">
            ,#{author}
        </if>
        <if test="null != title">
            ,#{title}
        </if>
        <if test="null != content">
            ,#{content}
        </if>
        <if test="null != tags">
            ,#{tags}
        </if>
        <if test="null != source">
            ,#{source}
        </if>
        ,0
        <if test="null != status">
            ,#{status}
        </if>
        <if test="null != r18">
            ,#{r18}
        </if>
        ,#{createBy}
        ,now()
        <if test="null != remark">
            ,#{remark}
        </if>
        ,0
        )
    </insert>

    <update id="edit_article" parameterType="com.ruoyi.system.domain.Article">
        update article set
        update_time = now(),
        update_by = #{updateBy},
        version = #{version}
        <if test="null != archiveNo">
            ,archive_no = #{archiveNo}
        </if>
        <if test="null != author">
            ,author = #{author}
        </if>
        <if test="null != title">
            ,title = #{title}
        </if>
        <if test="null != content">
            ,content = #{content}
        </if>
        <if test="null != tags">
            ,tags = #{tags}
        </if>
        <if test="null != source">
            ,source = #{source}
        </if>
        <if test="null != status">
            ,status = #{status}
        </if>
        <if test="null != r18">
            ,r18 = #{r18}
        </if>
        <if test="null != remark">
            ,remark = #{remark}
        </if>
        where del = 0 and table_id = #{tableId}
    </update>

    <update id="save_article" parameterType="com.ruoyi.system.domain.Article">
        update article set
        status = 2
        <if test="null != archiveNo">
            ,archive_no = #{archiveNo}
        </if>
        <if test="null != author">
            ,author = #{author}
        </if>
        <if test="null != title">
            ,title = #{title}
        </if>
        <if test="null != content">
            ,content = #{content}
        </if>
        <if test="null != tags">
            ,tags = #{tags}
        </if>
        <if test="null != source">
            ,source = #{source}
        </if>
        <if test="null != r18">
            ,r18 = #{r18}
        </if>
        <if test="null != remark">
            ,remark = #{remark}
        </if>
        where del = 0 and table_id = #{tableId}
    </update>

    <select id="get_version" resultType="long" parameterType="String">
        select version from article where del = 0 and table_id = #{id};
    </select>

    <delete id="del_article" parameterType="String">
        update article set del = 1 where table_id = #{id}
    </delete>

    <delete id="del_article_batch" parameterType="list">
        update article set del = 1 where table_id in
        <foreach collection="ids" open="(" separator="," item="id" close=")">
            #{id}
        </foreach>
    </delete>


</mapper>