<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.RecycleInfoMapper">

    <resultMap type="com.ruoyi.system.domain.RecycleInfo" id="RecycleInfoResult">
        <id property="uuid"      column="uuid"      />
        <result property="groupUuid" column="group_uuid"/>
        <result property="groupName"      column="group_name"      />
        <result property="groupRelativePath"      column="group_relative_path"      />
        <result property="relativeTopType"      column="relative_top_type"      />
        <result property="relativeTopTypeLabel"      column="relative_top_type_label"      />
        <result property="userId"      column="user_id"      />
        <result property="fileType"      column="file_type"      />
        <result property="typeLabel"      column="type_label"      />
        <result property="originalFileName"    column="original_file_name"    />
        <result property="originalRelativePath"     column="original_relative_path"     />
        <result property="recycleRelativePath"   column="recycle_relative_path"   />
        <result property="deletedAt"    column="deleted_at"    />
    </resultMap>

    <sql id="selectRecycleInfo">
        select uuid, group_uuid, group_name, group_relative_path, relative_top_type, relative_top_type_label, user_id, file_type, type_label, original_file_name, original_relative_path, recycle_relative_path,deleted_at
        from recycle_info
    </sql>

    <select id="search" resultMap="RecycleInfoResult" parameterType="com.ruoyi.common.core.domain.dto.RecycleInfoCondition">
        <include refid="selectRecycleInfo" />
        <where>
            1=1
            <if test="null != uuid and '' != uuid">
                and uuid = #{uuid}
            </if>
            <if test="null != groupUuid and '' != groupUuid">
                and group_uuid = #{groupUuid}
            </if>
            <if test="null != groupName and '' != groupName">
                and group_name = #{groupName}
            </if>
            <if test="null != userId">
                and user_id = #{userId}
            </if>
            <if test="null != fileType">
                and file_type = #{fileType}
            </if>
            <if test="null != typeLabel and typeLabel != ''">
                and type_label like concat('%', #{typeLabel}, '%')
            </if>
            <if test="originalFileName != null and originalFileName != ''">
                AND original_file_name LIKE CONCAT('%', #{originalFileName}, '%')
            </if>
            <if test="null != originalRelativePath and '' != originalRelativePath">
                and original_relative_path = #{originalRelativePath}
            </if>
            <if test="null != recycleRelativePath and '' != recycleRelativePath">
                and recycle_relative_path = #{recycleRelativePath}
            </if>
            <if test="deletedAtBegin != null">
                AND deleted_at &gt;= #{deletedAtBegin}
            </if>
            <if test="deletedAtEnd != null">
                AND deleted_at &lt;= #{deletedAtEnd}
            </if>
        </where>
    </select>

    <select id="findByUUID" resultMap="RecycleInfoResult" parameterType="String">
        <include refid="selectRecycleInfo" />
        <where>
            uuid = #{uuid}
        </where>
    </select>

    <!-- 添加记录 -->
    <insert id="insert_batch" parameterType="java.util.List">
        INSERT INTO recycle_info (
        uuid,
        group_uuid,
        group_name,
        group_relative_path,
        relative_top_type,
        relative_top_type_label,
        user_id,
        file_type,
        type_label,
        original_file_name,
        original_relative_path,
        recycle_relative_path,
        deleted_at
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.uuid},
            #{item.groupUuid},
            #{item.groupName},
            #{item.groupRelativePath},
            #{item.relativeTopType},
            #{item.relativeTopTypeLabel},
            #{item.userId},
            <choose>
                <when test="item.fileType != null">
                    #{item.fileType, jdbcType=INTEGER}
                </when>
                <otherwise>
                    NULL
                </otherwise>
            </choose>,
            <choose>
                <when test="item.typeLabel != null">
                    #{item.typeLabel, jdbcType=VARCHAR}
                </when>
                <otherwise>
                    NULL
                </otherwise>
            </choose>,
            #{item.originalFileName},
            #{item.originalRelativePath},
            #{item.recycleRelativePath},
            <choose>
                <when test="item.deletedAt != null">
                    #{item.deletedAt, jdbcType=TIMESTAMP}
                </when>
                <otherwise>
                    NULL
                </otherwise>
            </choose>
            )
        </foreach>
    </insert>

    <insert id="insert" parameterType="com.ruoyi.system.domain.RecycleInfo">
        INSERT INTO recycle_info (
        uuid,
        group_uuid,
        group_name,
        group_relative_path,
        relative_top_type,
        relative_top_type_label,
        user_id,
        file_type,
        type_label,
        original_file_name,
        original_relative_path,
        recycle_relative_path,
        deleted_at
        )
        VALUES (
        #{uuid},
        #{groupUuid},
        #{groupName},
        #{groupRelativePath},
        #{relativeTopType},
        #{relativeTopTypeLabel},
        #{userId},
        <choose>
            <when test="fileType != null">
                #{fileType, jdbcType=INTEGER}
            </when>
            <otherwise>
                NULL
            </otherwise>
        </choose>,
        <choose>
            <when test="typeLabel != null">
                #{typeLabel, jdbcType=VARCHAR}
            </when>
            <otherwise>
                NULL
            </otherwise>
        </choose>,
        #{originalFileName},
        #{originalRelativePath},
        #{recycleRelativePath},
        <choose>
            <when test="deletedAt != null">
                #{deletedAt, jdbcType=TIMESTAMP}
            </when>
            <otherwise>
                NULL
            </otherwise>
        </choose>
        )
    </insert>

    <delete id="delByUUID" parameterType="string">
        DELETE FROM recycle_info
        WHERE uuid = #{uuid}
    </delete>

    <delete id="delByUUIDs" parameterType="list">
        DELETE FROM recycle_info
        WHERE uuid IN
        <foreach collection="list" item="uuid" open="(" separator="," close=")">
            #{uuid}
        </foreach>
    </delete>

</mapper>